<?xml version='1.0'?> <!DOCTYPE platform SYSTEM "http://simgrid.gforge.inria.fr/simgrid.dtd">	<config>
		<FileSplitter classname="mapreducesim.scheduling.SimpleFileSplitter" type="random">
		</FileSplitter>
		<JobMaker classname="mapreducesim.scheduling.SimpleJobMaker">
			<job taskSpecification="full" name="job0">
				<task preferredLocation="TaskTracker1" type="map">
				</task>
				<task preferredLocation="TaskTracker2" type="map">
				</task>
				<task preferredLocation="TaskTracker2" type="map">
				</task>
				<task preferredLocation="TaskTracker3" type="map">
				</task>
			</job>
		</JobMaker>
	</config>
