<config>
	<TaskTimer name="mapreducesim.execution.SimpleWorkTaskTimer"> </TaskTimer>
	<heartbeat>50</heartbeat>
   <tasklength>25</tasklength>
	
	
	
	<inputJobs>
		<job name="job0" taskSpecification="full">
			<task type="map" preferredLocation="TaskTracker1" />
			<task type="map" preferredLocation="TaskTracker2" />
			<task type="map" preferredLocation="TaskTracker3" />
			<task type="reduce" preferredLocation="TaskTracker1" />
			<task type="reduce" preferredLocation="TaskTracker2" />
			<task type="reduce" preferredLocation="TaskTracker3" />
		</job>
	
	</inputJobs>
	
</config>
