<?xml version='1.0'?> <!DOCTYPE platform SYSTEM "http://simgrid.gforge.inria.fr/simgrid.dtd">	<config>
		<FileSplitter classname="mapreducesim.scheduling.SimpleFileSplitter" type="random">
		</FileSplitter>
		<JobMaker classname="mapreducesim.scheduling.SimpleJobMaker">
			<job taskSpecification="full" name="job0">
				<task preferredLocation="TaskTracker0" type="map">
				</task>
				<task preferredLocation="TaskTracker1" type="map">
				</task>
				<task preferredLocation="TaskTracker2" type="map">
				</task>
				<task preferredLocation="TaskTracker3" type="map">
				</task>
				<task preferredLocation="TaskTracker4" type="map">
				</task>
				<task preferredLocation="TaskTracker5" type="map">
				</task>
				<task preferredLocation="TaskTracker6" type="map">
				</task>
				<task preferredLocation="TaskTracker7" type="map">
				</task>
				<task preferredLocation="TaskTracker8" type="map">
				</task>
				<task preferredLocation="TaskTracker9" type="map">
				</task>
				<task preferredLocation="TaskTracker10" type="map">
				</task>
				<task preferredLocation="TaskTracker11" type="map">
				</task>
				<task preferredLocation="TaskTracker12" type="map">
				</task>
				<task preferredLocation="TaskTracker13" type="map">
				</task>
				<task preferredLocation="TaskTracker14" type="map">
				</task>
				<task preferredLocation="TaskTracker15" type="map">
				</task>
				<task preferredLocation="TaskTracker16" type="map">
				</task>
				<task preferredLocation="TaskTracker17" type="map">
				</task>
				<task preferredLocation="TaskTracker18" type="map">
				</task>
				<task preferredLocation="TaskTracker19" type="map">
				</task>
				<task preferredLocation="TaskTracker20" type="map">
				</task>
				<task preferredLocation="TaskTracker21" type="map">
				</task>
				<task preferredLocation="TaskTracker22" type="map">
				</task>
				<task preferredLocation="TaskTracker23" type="map">
				</task>
				<task preferredLocation="TaskTracker24" type="map">
				</task>
				<task preferredLocation="TaskTracker25" type="map">
				</task>
				<task preferredLocation="TaskTracker26" type="map">
				</task>
				<task preferredLocation="TaskTracker27" type="map">
				</task>
				<task preferredLocation="TaskTracker28" type="map">
				</task>
				<task preferredLocation="TaskTracker29" type="map">
				</task>
			</job>
		</JobMaker>
	</config>
