<?xml version='1.0'?> <!DOCTYPE platform SYSTEM "http://simgrid.gforge.inria.fr/simgrid.dtd">	
<config>

	<WorkTaskTimer classname="mapreducesim.execution.SimpleWorkTaskTimer" MapCoefficient="500"> </WorkTaskTimer>
	<heartbeat>15</heartbeat>
    <tasklength>25</tasklength>
	
	<TaskTrackerDefaultMapSlots>2</TaskTrackerDefaultMapSlots>
	<TaskTrackerDefaultReduceSlots>2</TaskTrackerDefaultReduceSlots>
	
		<FileSplitter classname="mapreducesim.scheduling.SimpleFileSplitter" type="random">
		</FileSplitter>
		<JobMaker classname="mapreducesim.scheduling.SimpleJobMaker">
			<job taskSpecification="random" name="job0" numTask="200" numRunners="4">	
			</job>
		</JobMaker>
</config>
